/* Styling for the Shiny App */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 200px;
}
nav.navbar {
  margin-bottom: 10px;
}

/* Styling for the overview.html and conclusion.html file */
main {
  margin: 25px;
}
p, li {
  font-size: 12pt;
}

#top, #analysis {
  margin-top: 200px;
}

.html, .answers {
  text-indent: 40px;
  font-family: Arial;
}

#analysis {
  text-align: center;
  font-size: 32pt;
  font-weight: bold;
}

.answers {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
